<style>
	h1 {font-weight:normal}
	h2 {font-weight:normal}
	h3 {font-weight:normal}
	h4 {font-weight:normal}
	h5 {font-weight:normal}
	h6 {font-weight:normal}
</style>

<h1>About the Social Science Library</h1>
<ul id="about-anchors">
	<li><h4><a href="#about">What is the SSL?</a></h4></li>
	<li><h4><a href="#contributors">Contributors to the SSL</a></h4></li>
</ul>
<div id="about">
	<h2>What is the SSL:</h2>
	
	<p>
	The Social Science Library is a gateway into writings of enduring importance in seven
social science disciplines. The selection of articles for the Social Science Library was
motivated by a view of sustainable development that emphasizes the <b>promotion of
human flourishing in healthy social and natural environments, in the short and
the long run.</b> This is often not the same as the "economic development" goals pursued
by policy-makers. To counterbalance the ideologies or the self-interest of powerful
groups it is necessary for citizens – starting with teachers and students – to understand
the interactions among social forces, and the ways that these are affected by, and
affect, the natural world.
</p>


<p>The SSL collection possesses unique characteristics of selectivity, interdisciplinary
breadth, and organization. </p>
<ul><li><p>	The articles have been selected to assist <b>teachers</b> to create a wide variety of syllabi and course materials in many areas of social science. </p></li>
<li><p>They will enable <b>students</b> to pursue their interests, and discover new interests, as they browse the SSL on their own, or follow lines of inquiry laid out by their instructors. </p></li>
<li><p>The collection provides examples and materials that will aid <b>researchers and writers</b> to sharpen their own observations and analyses. </p></li></ul>

<p>The cumulative knowledge and understanding available through the social sciences – from anthropology to political science, from economics to philosophy – provides hope for humankind’s ability to deal effectively with the individual and collective challenges and choices we face in the 21st century</p>
	
	<p><a href="#about-anchors">Back to Top</a></p>
</div>
<div id="contributors">
	<h2>Contributors to the Social Science Library:</h2>
	<i>This project could not have happened without the tremendous support of the Tufts Library System.</i>
	<ul>
		<li><h4>SSL Advisory Board</h4></li>
		<li><h4>Editorial Advisors</h4></li>
		<li><h4>Editorial and Production Staff</h4></li>
	  	<li><h4>Tufts Student Contributors</h4></li>
	  	<li><h4>Publishing Partners</h4></li>
	</ul>
	<br>
	<h3>SSL Advisory Board:</h3>
	<ul>
		<li><b>Craig Calhoun</b> (Sociology, History, International Studies; USA) President, Social Science Research Council, New York; Professor of Sociology and History, New York University</li>
		<li><b>Kemal Dervis</b> (Economics; Turkey) Administrator of the United Nations Development Programme and Chair of the United Nations Development Group</li>
		<li><b>Khadija Haq</b> (Economic and Social Development; Pakistan); President of the Mahbub ul Haq Human Development Institute, Pakistan; Chairperson of the North-South Roundtable; senior adviser on education at UNICEF</li>
		<li><b>Andrzej Kassenberg</b> (Geography, Sustainable Development; Poland) Member of the Environmental Council of the President of the European Bank for Reconstruction and Development; President, Institute for Sustainable Development</li>
		<li><b>Kumari Jayawardene</b> (Women's Studies and Political Science; Sri Lanka); Professor of Women's Studies at Colombo University, Sri Lanka</li>
		<li><b>Wangari Maathai</b> (Democracy, Human Rights, and Environmental Conservation; Kenya); Assistant Minister for Environment and Natural Resources, and Member of Parliament, Tetu Constituency, Nyeri District, Republic of Kenya; Founder and Former Coordinator, the Green Belt Movement; awarded the Nobel Peace Prize in 2004</li>
		<li><b>Mary Robinson</b> (Law, Human Rights; Ireland); Executive Director, The Ethical Globalization Initiative; former President of Ireland (1990-1997), United Nations High Commissioner for Human Rights (1997-2002)</li>
		<li><b>Amartya K. Sen</b> (Economics and Philosophy; India, USA); Lamont University Professor Emeritus of Economics and of Philosophy, Harvard University; formerly President of the Indian Economic Association, the American Economic Association, and the International Economic Association; awarded the Bharat Ratna and the Nobel Memorial Prize in Economics</li>
		<li><b>Ismael Serageldin</b> (Development, Social and Environmental Sustainability; Egypt); Director, Bibliotheca Alexandrina, Egypt; Distinguished University Professor at the Wageningen University in the Netherlands; Former Chair of the Consultative Group on International Agricultural Research (CGIAR); Former Vice President, Environmentally Sustainable Development, World Bank</li>
		<li><b>Joseph Stiglitz</b> (Economics; USA); Professor of Economics and Finance, Columbia University, New York; awarded the Nobel Memorial Prize in Economics</li>
		<li><b>Paul P. Streeten</b> (Economics, Development; Austria, UK, USA); Emeritus Professor of Economics, Boston University; Founder and Chairman of the Board of World Development; Consultant to the United Nations Development Program and to UNESCO; former Director of the Institute of Development Studies at Sussex University, UK</li>
	</ul>
	<br>
	
	<h3>Editorial Advisors:</h3>
	<p>Anthropology</p>
	<ul>
		<li><b>Lowry Hemphill</b>, Associate Professor and Chair, Department of Language and Literacy, Wheelock College, Boston (USA): Language and Society</li>
		<li><b>Olivia Ruiz</b>, Professor of Anthropology, El Colegio de la Frontera Norte in Tijuana, Baja California (Mexico): Cultural Anthropology and Applied Anthropology</li>
	  <li><b>Javier Urcid</b>, Associate Professor and Chair, Latin American & Latino Studies Program, Department of Anthropology, Brandeis University (USA): Anthropology Methods and Approaches, and Physical Anthropology</li>
	</ul>
	<p>Economics</p>
	<ul>
		<li><b>Nahid Aslanbgui</b>, Professor of Finance and Economics, Monmouth University (USA): Economics as a Social Science</li>
		<li><b>Nancy Birdsall</b>, Director, Center for Global Development (USA): Growth, Allocation and Distribution</li>
		<li><b>Ha-Joon Chang</b>, Assistant Director of Development Studies, University of Cambridge (UK): Economic Policy</li>
		<li><b>Bruno Frey</b>, Professor, Institute for Empirical Research in Economics, University of Zurich (Switzerland): Well-being</li>
		<li><b>Neva Goodwin</b>, Co-Director, Global Development and Environment Institute, Tufts University (USA): Development</li>
		<li><b>Andrew McGrew</b>, Professor of Politics and International Relations, Southampton University (UK): Globalization</li>
	</ul>
	<p>History</p>
	<ul>
		<li><i>Economic History:</i> <b>Brian Roach</b>, Senior Researcher, Global Development And Environment Institute, Tufts University (USA)</li>
	  <li><i>Environmental History:</i> <b>Charles Chester</b>, Adjunct Associate Professor of International Environmental Policy, The Fletcher School of Law and Diplomacy, Tufts University (USA)</li>
	  <li><i>Political History:</i> <b>Matthew Connelly</b>,Professor of History, Columbia University (USA); <b>Barbara Kellerman</b>, Lecturer in Public Leadership at Harvard University's John F. Kennedy School of Government (USA); <b>Martin A. Klimke</b> Research Fellow at the German Historical Institute in Washington, D.C. and the Heidelberg Center for American Studies at the Univeristy of Heidelberg, Germany and <b>William Roger Louis</b>, Professor of History, University of Texas at Austen (USA)</li>
	  <li><i>Social and Cultural History:</i> <b>Donald Yerxa</b>, Professor and Chair, Department of History, Eastern Nazarene College (USA)</li>
	  <li><i>World/Global History:</i> <b>Raymond Grew</b>, Professor of History Emeritus, University of Michigan; <b>Patrick Manning</b>, Professor of World History, University of Pittsburgh (USA); <b>Bruce Mazlish</b>, Professor of History Emeritus, Massachusetts Institute of Technology (USA); and <b>Thomas Zeiler</b>, Professor and Chair, Department of History, University of Colorado at Boulder (USA)</li>
	</ul>
	<p>Political Science</p>
	<ul>
		<li><b>Ronald Chilcote</b>, Professor of Economics, University of California (USA): <i>Comparative Politics and Political Theory</i></li>
		<li><b>César Pérez-Espinosa</b>, Investigador Definitivo, Centro de Investigaciones sobre América del Norte, Universidad Nacional Autónoma de México (Mexico): <i>International Relations</i></li>
		<li><b>Judith Squires</b>, Professor of Politics, University of Bristol (UK): <i>Public Administration and Public Policy</i></li>
	</ul>
	<p>Sociology</p>
	<ul>
		<li><b>Fred Block</b>, Professor of Sociology, University of California, Davis (USA): <i>Urban Sociology</i></li>
		<li><b>Maxine Molyneux</b>, Professor of Sociology, The Institute for the Study of the Americas (UK): <i>Culture and Society</i></li>
		<li><b>Judith Squires</b>, Professor of Politics, University of Bristol (UK): <i>Family and Kinship</i></li>
		<li><b>Goran Therborn</b>, Professor of Sociology, Goteborg University (Sweden): <i>Political Sociology</i></li>
		<li><b>Fenggang Yang</b>, Assistant Professor, Department of Sociology and Anthropology, Purdue University (USA): <i>Sociology of Religion</i></li>
	</ul>
	<p>Social Psychology</p>
	<ul>
		<li><b>Samuel R. Sommers</b>, Assistant Professor of Psychology, Tufts University (USA): <i>Group Dynamics</i></li>
	</ul>
		<p><a href="#about-anchors">Back to Top</a></p>
	<br>


	<h3>SSL Editorial and Production Staff:</h3>
	<p>The Social Science Library is a project of the Global Development And Environment Institute (GDAE) at Tufts University, in conjunction with the UN Decade for Education in Sustainable Development. The following are the individuals who are responsible for the creation of the SSL.</p>
	<p><i>Project Director and Editor-in-Chief:</i> <b>Neva Goodwin</b>, Co-Director, Global Development And Environment Institute, Tufts University</p>
	<p><i>Assistant Project Directors:</i> <b>Jonathan Harris</b>, Director of the Theory and Education Program at GDAE, and <b>Brian Roach</b>, Senior Researcher at GDAE</p>
	<p>All of the following members of the SSL Editorial and Production Staff were employed by GDAE for the tasks indicated, unless otherwise noted:</p>
	<p><u>Research Directors</u></p>
	<ul>
		<li>Anthropology: Rajani Kanth, with Garry Sotnik</li>
		<li>Economics: Rajani Kanth, Neva Goodwin and Brian Roach</li>
		<li>History: Barbara Driscoll and Kenneth Weisbrode, with Neva Goodwin, Raymond Grew (Professor of History Emeritus, University of Michigan) and Akira Iriye (Professor of History Emeritus, Harvard University)</li>
		<li>Philosophy: David Kiron and Neva Goodwin</li>
		<li>Political Science: Rajani Kanth, with Garry Sotnik</li>
		<li>Sociology: Rajani Kanth, with Brian Roach</li>
		<li>Social Psychology: Pamela Velez-Vega and Tim Kasser (Professor of Psychology,Knox College) with Neva Goodwin</li>
	</ul>
	<p><u>Project Coordinators</u></p>
	<ul>
		<li>Mary Knoble (2003-2005)</li>
		<li>Suzanne Bremer (2005-2009)</li>
		<li>Adrian Williamson (2009-2012)</li> 
		<li>Josh Uchitelle-Pierce (2012-2015)</li>
		<li>Mitchell Stallman (2015-2018)</li>
	</ul>
	<p><u>Technical Directors:</u></p>
	<ul>
		<li>Bradley Wangia (2003-2005)</li>
	  <li>Lisa Weil (2005-2006)</li>
		<li>Sajedul Hoq (2007-2009)</li>
	  <li>Kamal Shah (July 2009-January 2010)</li>
	</ul>
	<p><u>Assistant Project Coordinators</u></p>
	<ul>
		<li>Anna Bromberg (2006-2007)</li>
		<li>Quincy Chang (2007-2008)</li>
	  <li>Ishita Islam (2008-2009)</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>Tufts University Student Contributors:</h3>
	<p><b>Note:</b> the students listed all made extremely valuable contributions to the collection and organization of the SSL; it could not possibly have been created without them. They are listed with the degrees they have earned; while working at GDAE some were undergraduates, and some graduate students, their ages generally ranging between 18 and 24.</p>
	<ul>
		<li><b>Lorenzo Arroyo</b>, Tufts University, Bachelor of Arts in Philosophy and Sociology, 2009</li>
		<li><b>Arrash J Baghaie</b> (A.J.), Tufts University, Bachelor of Arts, 2008</li>
		<li><b>Lucy K. Bassett</b>, joint degree Fletcher School of Law and Diplomacy, MALD and Friedman School of Nutrition Science and Policy, MS in Food Policy and Applied Nutrition, 2007</li>
		<li><b>Lauren Ann Baumann</b>, Master of Arts in Urban and Environmental Policy and Planning, 2006</li>
		<li><b>Rishikesh Bhandary</b>, Tufts University, Bachelor of Arts in Economics, 2009</li>
		<li><b>Sudeep Bhatia</b>, Tufts University, Bachelor of Arts in Economics, 2009</li>
		<li><b>Benjamin Thomas J. Black</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2004</li>
		<li><b>Megan V. Brachtl</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><b>Curtis Campbell</b>, Bachelor of Arts in Political Science, 2009</li>
		<li><b>Joe Cavallo</b>, Tufts University, Bachelor of Bioengineering, 2008</li>
		<li><b>Yee-Huan Cheng</b>, Tufts University, Bachelor of Science Engineering, 2003</li>
		<li><b>Sylvia T. Ciesluk</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Neeraj Doshi</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>John O. Douglas</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Dina M. Dubson</b>, Tufts University, Bachelor of Arts in Political Science and Environmental Studies, 2004</li>
		<li><b>Jeremy Elprin</b>, Tufts University, Bachelor of Arts in English and Spanish, 2007</li>
		<li><b>Ana Martha Fernandes</b>, Master of Science in Water Resources Engineering, 2005</li>
		<li><b>Prescott Gadd</b>, Tufts University, Bachelor of Arts in English and Film, 2007</li>
		<li><b>Christina Gonzalez</b>, Tufts University, Bachelor of Arts in Anthropology, 2007</li>
		<li><b>Crystal Gonzalez</b>, Tufts University, Bachelor of Arts in Anthropology, 2007</li>
		<li><b>Alison C. Hannah</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Junaid Hashim</b>, Tufts University, Bachelor of Arts in International Relations, 2008</li>
		<li><b>Faris Islam</b>, Tufts University, Bachelor of Arts in Political Science, (intended) 2011</li>
		<li><b>Lauren C. Johnson</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><b>Jessica A. Katz</b>, Tufts University, Bachelor of Arts in Economics, 2005</li>
		<li><b>Rezwan Khan</b>, Tufts University, Bachelor of Arts, 2008</li>
		<li><b>Courtney D. Lane</b>, Tufts University, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><b>Christine Koh</b>, Tufts University, Bachelor of Arts, 2008</li>
		<li><b>John W. Larsen</b>, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><b>Vivek Mathur</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Maria Munaretto</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2010</li>
		<li><b>Sylvia Mendoza</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Tawanda Muzhingi</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Ha P Nguyen</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Daniel Negless</b>, Tufts University, Bachelor of Arts in Economics, 2009</li>
	 	<li><b>Akua Brakatu Ofori-Adjei</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Alex Pileggi</b>, Tufts University, Bachelor of Arts in Economics, 2007</li>
		<li><b>Tatiana Popa</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2009</li>
		<li><b>Francisco Resnicoff</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Patrick Roath</b>, Tufts University, Bachelor of Arts in International Relations, 2009</li>
		<li><b>Laura Jeane Story Schlapkohl</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Allison Schuster</b>, Tufts University, Bachelor of Arts in Political Science, 2009</li>
		<li><b>Stephanie Sguigna</b>, Tufts University, Bachelor of Science, Engineering, 2009</li>
		<li><b>Hilary Sienrukos</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Sarah L. Smith</b>, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><b>Bistra Solakova</b>, Tufts University, Bachelor of Arts, 2008</li>
		<li><b>Yen Trinh</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><b>Adwoa Twum</b>, Tufts University, Bachelor of Arts, 2007</li>
		<li><b>Maryna Vaschenko</b>, Tufts University, PhD in Education, 2008</li>
		<li><b>Casey Vaughn</b>, Tufts University, Bachelor of Arts in Political Science and Philosophy, 2007</li>
		<li><b>Vasanthi Venkatesh</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><b>Cara Vileno</b>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><b>Danielle Warner</b>, Tufts University, Bachelor of Arts in Political Science, 2007</li>
		<li><b>Charles Wartemberg</b>, Tufts University, Bachelor of Arts in International Relations, 2008</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>Publishing Partners:</h3>
	<p>We acknowledge with special appreciation the publishers who have generously permitted reproduction in the Special Collections section of large amounts of material to which they hold copyright. They are, for the Evolving Values series, the University of Michigan Press; for the Frontier Issues series, the Island Press in Washington D.C.; for the selections from books by John Kenneth Galbraith, Houghton Mifflin Publishers, in Boston, Massachusetts; and for the New Global History Series the New Global History Initiative, at <a href="www.newglobalhistory.com">www.newglobalhistory.com.</a></p>
	
	<p><a href="#about-anchors">Back to Top</a></p>
</div>
<div id="how-to">

</div>