<div class="home-center">
  <h2>Welcome to the Social Science Library:</h2>
  <h3>Frontier Thinking in Sustainable Development and Human Well-Being</h3>

  <h4 style="font-style: italic">A project of</h4>

  <p><a href="https://ase.tufts.edu/gdae/"target="_blank">The Global Development And Environment Institute (GDAE)</a></p>
  <p>at <a href="http://www.tufts.edu"target="_blank">Tufts University</a> in conjunction with</p>
  <p>the <a href="http://www.unesco.org/new/en/education/themes/leading-the-international-agenda/education-for-sustainable-development/"target="_blank">UN Decade for Education for Sustainable Development.</a></p>
</div>
<br>
<div class="home-text">

  <p>

  The Social Science Library (SSL) contains complete bibliographic references and direct access for 7,720 journal articles, book chapters, and working papers covering Anthropology, Economics, History, Political Science, Social Psychology, Sociology, and Philosophy. </p>

  <p>
    It is organized to encourage explorations through a variety of lenses – human well-being, for example, is a topic that turns up in many places in the collection. By clicking on the link for "Disciplines," the user is encouraged to explore a hierarchy that starts with a social science discipline, then offers ways of drilling down to different areas. After pursuing his or her interests among the variety of themes or topics, the user is then presented with a list of articles; these are linked to the source, and can be directly accessed (if your university supports that particular source) by clicking on the link.
  </p>
</div>

<%= render partial: '/ssl/ssl_search' %>