<div class="home-center">
  <h2>Welcome to the Social Science Library:</h2>
  <h3>Frontier Thinking in Sustainable Development and Human Well-Being</h3>

  <h4 style="font-style: italic">A project of</h4>

  <p><a href="https://ase.tufts.edu/gdae/"target="_blank">The Global Development And Environment Institute (GDAE)</a></p>
  <p>at <a href="http://www.tufts.edu"target="_blank">Tufts University</a> in conjunction with</p>
  <p>the <a href="http://www.unesco.org/new/en/education/themes/leading-the-international-agenda/education-for-sustainable-development/"target="_blank">UN Decade for Education for Sustainable Development.</a></p>
</div>
<br>
<div class="home-text">

  <p>The Social Science Library (SSL) contains complete bibliographic references for over 9,300 journal articles, book chapters, and working papers covering Anthropology, Economics, History, Political Science, Social Psychology, Sociology, and Philosophy. The complete text of about 90% of these documents are available through the SSL.</p>
</div>
