<div class="home-center">
  <h2>Welcome to the Social Science Library:</h2>
  <h3>Frontier Thinking in Sustainable Development and Human Well-Being</h3>

  <h4 style="font-style: italic">A project of</h4>

  <p><a href="https://ase.tufts.edu/gdae/"target="_blank">The Global Development And Environment Institute (GDAE)</a></p>
  <p>at <a href="http://www.tufts.edu"target="_blank">Tufts University</a> in conjunction with</p>
  <p>the <a href="http://www.unesco.org/new/en/education/themes/leading-the-international-agenda/education-for-sustainable-development/"target="_blank">UN Decade for Education for Sustainable Development.</a></p>
</div>
<br>
<div class="home-text">

<p>
The Social Science Library (SSL) contains complete bibliographic references and direct access
for 7,720 journal articles, book chapters, and working papers selected from the disciplines of
Anthropology, Economics, History, Political Science, Social Psychology, Sociology, and
Philosophy. <i>The contents have been selected for their enduring value to studies of sustainable
development that emphasize the promotion of human flourishing in healthy social and natural
environments, in the short and the long run.</i>
</p>
<p>
There are two ways to discover valuable contents for yourself in the SSL:
</p>
<ol>
<li>By clicking on the link for <b>Disciplines</b>, you can explore a hierarchy that starts with one of
the 7 social science disciplines given here. You be able to browse through a list of sub-disciplines to narrow your search until you get to the most relevant articles for your purposes. </li>
<li>You may also search using the familiar <b>Search</b> mechanism, by author, title, keywords, etc.</li>

</ol>
 
</div>

