<% @kwpag.each do |d| %>
    <% doc = d %>
        <tr class="doc">
            <td>
			    <a href=<%= docs_path(kw: doc) %>  >
    					<button id="kw" type="button" class="btn btn-primary active" > 
    						<%= doc %> 
    					</button>			
 				</a>	 	
 		    </td>     
        </tr>
 <% end %>





 

