<% @kwpag.each do |d| %>
    <% doc = d %>
        <tr class="doc">
            <td>
			    <a href=<%= docs_path(kw: doc['_id']) %>> <button type="button" class="btn btn-primary active"><%= doc['_id'] %></button> </a>	
            </td>    
        </tr>
 <% end %>